<html lang="en">
    <style>
        /* Show it's not fixed to the top */
        body {
            min-height: 75rem;
        }
        .navbar{
            background:#262728!important;
        }
        .img-right{height: 40px; margin-right: 20px;} 
        .img-left{height: 43px; margin-left: 20px;}
    </style>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

        <title>ProxySpec</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark mb-4">
            <a class="navbar-brand" href="#"><img class="img-right" src="/static/bar-right.png"/>ProxySpec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Proxies list <span class="sr-only">(current)</span></a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    -->
                </ul>
               
                <div class="mt-2 mt-md-0">
                    <img class="img-left" src="/static/bar-left.png"/>
                </div>
            
            </div>
        </nav>

        <main role="main" class="container">
            <div class="jumbotron">
