<form method="POST" action="/proxies/create">
    <fieldset>
        <legend>Configure your proxy</legend>

        <label for="apiName">API Name</label>
        <input name="apiName" id="apiName">

        <label for="apiDescription">API Description</label>
        <input name="apiDescription" id="apiDescription">

        <label for="apiURL">API URL</label>
        <input name="apiURL" id="apiURL">

        <label for="apiVersion">API Version</label>
        <input name="apiVersion" id="apiVersion">
    </fieldset>

    <button type="submit">Create proxy</button>
</form>