
<%- include('header.ejs') %>


<h2>Configure your proxy</h2>
<form method="POST" action="/proxies/create">

    <div class="form-group">
        <label for="exampleInputEmail1">API Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="apiName">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">API Description</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="apiDescription">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">API Version</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="apiVersion">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Instance Host</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="apiURL">
    </div>

    <button type="submit" class="btn btn-primary">Create proxy</button>
  </form>

<%- include('footer.ejs') %>)
