
<%- include('header.ejs') %>


<h2>Configure your proxy</h2>
<form method="POST" action="/proxies/create">

    <div class="form-group">
        <label for="apiName">API Name</label>
        <input type="text" class="form-control" id="apiName" name="apiName">
    </div>

    <div class="form-group">
        <label for="apiDescription">API Description</label>
        <input type="text" class="form-control" id="apiDescription" name="apiDescription">
    </div>

    <div class="form-group">
        <label for="apiVersion">API Version</label>
        <input type="text" class="form-control" id="apiVersion" name="apiVersion">
    </div>

    <div class="form-group">
        <label for="apiURL">Instance Host</label>
        <input type="text" class="form-control" id="apiURL" name="apiURL">
    </div>

    <button type="submit" class="btn btn-primary">Create proxy</button>
  </form>

<%- include('footer.ejs') %>)
